{{!-- CSS file link --}}
<link rel="stylesheet" href="/css/grouppage.css">


{{!-- NavBar Start --}}
<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/">Sonder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pfont" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div id="user-info"></div>
       <button type="button" class="btn btn-outline-danger btn-sm m-2 logoutbtn">Log Out</button>

     </form>
  </div>
</nav>

{{!-- NavBar End --}}





<br><br><br><br>


<div class="container">
  <h1>Group Page for ranking preferences</h1>
 


    <div class="card">
      <div class="card-header bg-success text-light">
        <h1>INSERT GROUP NAME HERE BY GETTING IT FROM DB</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">(GRAB NAME OF USERNAME FROM DB HERE), rank your preferences!</h5>
        <p class="card-text">Assign preferences to your different vacation options.</p>

        <form>
          <div class="form-group">
            <label for="memberPref1">Your Number One Preference:</label>
            <select class="form-control" id="memberPref1">
              {{#each vacations}}
              <option>{{this.city1}}</option>
              <option>{{this.city2}}</option>
              <option>{{this.city3}}</option>
              <option>{{this.city4}}</option>
              <option>{{this.city5}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="memberRating1">How would you rate your desire to visit this city on a scale from 1-10? (1 being "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
            <select class="form-control" id="memberRating1">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>

          <div class="form-group">
            <label for="memberPref2">Your Number Two Preference:</label>
            <select class="form-control" id="memberPref2">
               {{#each vacations}}
              <option>{{this.city1}}</option>
              <option>{{this.city2}}</option>
              <option>{{this.city3}}</option>
              <option>{{this.city4}}</option>
              <option>{{this.city5}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="memberRating2">How would you rate your desire to visit this city on a scale from 1-10? (1 being "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
            <select class="form-control" id="memberRating2">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>

          <div class="form-group">
            <label for="memberPref3">Your Number Three Preference:</label>
            <select class="form-control" id="memberPref3">
              {{#each vacations}}
              <option>{{this.city1}}</option>
              <option>{{this.city2}}</option>
              <option>{{this.city3}}</option>
              <option>{{this.city4}}</option>
              <option>{{this.city5}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="memberRating3">How would you rate your desire to visit this city on a scale from 1-10? (1 being "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
            <select class="form-control" id="memberRating3">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>

          <div class="form-group">
            <label for="memberPref4">Your Number Four Preference:</label>
            <select class="form-control" id="memberPref4">
              {{#each vacations}}
              <option>{{this.city1}}</option>
              <option>{{this.city2}}</option>
              <option>{{this.city3}}</option>
              <option>{{this.city4}}</option>
              <option>{{this.city5}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="memberRating4">How would you rate your desire to visit this city on a scale from 1-10? (1 being "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
            <select class="form-control" id="memberRating4">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>

          <div class="form-group">
            <label for="memberPref5">Your Number Five Preference:</label>
            <select class="form-control" id="memberPref5">
              {{#each vacations}}
              <option>{{this.city1}}</option>
              <option>{{this.city2}}</option>
              <option>{{this.city3}}</option>
              <option>{{this.city4}}</option>
              <option>{{this.city5}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="memberRating5">How would you rate your desire to visit this city on a scale from 1-10? (1 being "not at all," 10 being "I will die full of regret if I do not visit this city"</label>
            <select class="form-control" id="memberRating5">
              <option>10</option>
              <option>9</option>
              <option>8</option>
              <option>7</option>
              <option>6</option>
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>

          <a href="#" class="btn btn-primary btn-block" id="submit">Submit</a>
        </form>
      </div>
    </div>

</div>

</br></br></br></br></br></br></br>
{{!-- 
Temp buttons that will be removed at the end of the projected added them for ease of navigation --}}
<h1>Development Buttons</h1>
<a type="button" class="btn  btn-lg btn-success" href="/">Home</a>
<a type="button" class="btn btn-lg btn-success" href="/login">Login PAGE</a>
<a type="button" class="btn btn-lg btn-success" href="/signup">SignUp PAGE</a>
<a type="button" class="btn  btn-lg btn-success" href="/dashboard">Dashboard Page</button>
  <a type="button" class="btn btn-lg btn-success" href="/grouppage">Group Page</a>
  <a type="button" class="btn btn-lg btn-success" href="/creategroup">Create Group Page</a>




<script src="/js/grouppage.js"></script>